<!-- Page content -->
<div id="page-content">
  <%if (typeof role === 'undefined'){%>
  <!-- Quick Stats -->
  <div class="row text-center">
    <div class="col-sm-6">
      <a href="/categories/create" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background-success">
          <h4 class="widget-content-light">
            <strong>Tạo mới</strong> gói nhu yếu phẩm
          </h4>
        </div>
        <div class="widget-extra-full">
          <span class="h2 text-success animation-expandOpen"
            ><i class="fa fa-plus"></i
          ></span>
        </div>
      </a>
    </div>
    <div class="col-sm-6">
      <a href="javascript:void(0)" class="widget widget-hover-effect2">
        <div class="widget-extra themed-background-dark">
          <h4 class="widget-content-light">
            <strong>Tất cả</strong> gói nhu yếu phẩm
          </h4>
        </div>
        <div class="widget-extra-full">
          <span class="h2 themed-color-dark animation-expandOpen"
            ><%= categories.length%></span
          >
        </div>
      </a>
    </div>
  </div>
  <!-- END Quick Stats -->
  <% }%>
  <!-- All Products Block -->
  <div class="block full">
    <!-- All Products Title -->
    <div class="block-title">
      <h2><strong>Tất cả</strong> gói nhu yếu phẩm</h2>
    </div>
    <!-- END All Products Title -->
    <%- include('../partials/messages') %>
    <!-- All Products Content -->
    <table
      id="ecom-categories"
      class="table table-bordered table-striped table-vcenter"
    >
      <thead>
        <tr>
          <th class="text-center" style="width: 70px">Mã</th>
          <th>Tên</th>
          <th class="text-right hidden-xs">Giới hạn</th>
          <th class="hidden-xs text-center">Thời gian</th>
          <th class="text-center">Hành động</th>
        </tr>
      </thead>
      <tbody>
        <% categories.forEach(function(category) { %>
        <tr>
          <td class="text-center">
            <%if (typeof role !== 'undefined'){%>
            <a href="/users/categories/<%= category.id %>"
              ><strong><%= category.id %></strong></a
            >
            <% }%> <%if (typeof role === 'undefined'){%>
            <a href="/categories/<%= category.id %>"
              ><strong><%= category.id %></strong></a
            >
            <% }%>
          </td>
          <td>
            <%if (typeof role === 'undefined'){%>
            <a href="/categories/<%= category.id %>"><%= category.name %></a>
            <% }%> <%if (typeof role !== 'undefined'){%>
            <a href="/users/categories/<%= category.id %>"
              ><%= category.name %></a
            >
            <% }%>
          </td>
          <td class="text-right hidden-xs">
            <strong><%= category.limit_person %></strong>
          </td>
          <td class="hidden-xs text-center"><%= category.limit_time %></td>
          <td class="text-center">
            <%if (typeof role === 'undefined'){%>
            <div class="btn-group btn-group-xs">
              <a
                href="/categories/edit/<%= category.id %>"
                data-toggle="tooltip"
                title="Edit"
                class="btn btn-default"
                ><i class="fa fa-pencil"></i
              ></a>
              <button
                categoryId="<%=category.id%>"
                categoryName="<%=category.name%>"
                data-toggle="tooltip"
                title="Delete"
                class="btn btn-xs btn-danger btnDelete"
                onClick="showModalDialog(this)"
              >
                <i class="fa fa-times"></i>
              </button>
            </div>
            <% }%> <%if (typeof role !== 'undefined'){%>
            <button class="btn btn-primary">
              <i class="fa fa-plus"></i> Thêm vào giỏ hàng
            </button>
            <% }%>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
    <!-- END All Products Content -->
  </div>
  <!-- END All Products Block -->
  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Xác nhận xóa</h3>
        </div>
        <div class="modal-body">
          <h4>Bạn có chắc chắn muốn xóa gói sản phẩm với thông tin như sau:</h4>
          <h5>Mã: <b id="modal-categoryId"></b></h5>
          <h5>Tên: <b id="modal-categoryName"></b></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Hủy bỏ
          </button>
          <a id="delete-link" type="button" class="btn btn-danger">Xóa</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Load and execute javascript code used only in this page -->
  <script src="/js/category/category-list.js"></script>
  <script src="/js/pages/ecomCategory.js"></script>
  <script>
    $(function () {
      EcomCategory.init();
    });
  </script>
</div>
<!-- END Page Content -->
