<!-- Page content -->
<div id="page-content">
  <div class="block full">
    <!-- All Products Title -->
    <div class="block-title">
      <h2><strong>Chi tiết</strong> gói nhu yếu phẩm</h2>
    </div>
    <div style="width: 70%, margin: auto">
      <input
        type="hidden"
        name="id"
        value="<%= typeof category !== 'undefined' ? category.id : '' %>"
      />
      <div class="form-horizontal form-bordered">
        <div class="form-group">
          <label class="col-md-4 control-label" for="product-name">Tên</label>
          <div class="col-md-4">
            <input
              type="text"
              id="product-name"
              name="name"
              class="form-control"
              placeholder="Nhập tên sản phẩm"
              value="<%= typeof category !== 'undefined' ? category.name : '' %>"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Giới hạn/người</label>
          <div class="col-md-4">
            <input
              id="limit-person"
              name="limit_person"
              class="form-control"
              placeholder="Số lượng"
              min="1"
              step="1"
              value="<%= typeof category !== 'undefined' ? category.limit_person : '' %>"
              disabled
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="example-chosen"
            >Thời gian giới hạn</label
          >
          <div class="col-md-4">
            <input
              id="limit-person"
              name="limit_person"
              class="form-control"
              placeholder="Số lượng"
              min="1"
              step="1"
              value="<%= typeof category !== 'undefined' ? category.limit_time : '' %>"
              disabled
            />
          </div>
        </div>
      </div>
    </div>
    <h4>Danh sách sản phẩm</h4>
    <%if(!category.product_categories || category.product_categories.length <=0
    ) {%>
    <p
      style="
        opacity: 0.8;
        font-size: 18px;
        text-align: center;
        margin-top: 50px;
      "
    >
      Không có sản phẩm
    </p>
    <%}%> <%if(category.product_categories && category.product_categories.length
    > 0 ) {%>
    <div style="display: flex; justify-content: center">
      <div class="table-responsive" style="width: 70%">
        <table id="general-table" class="table table-striped table-vcenter">
          <thead>
            <tr>
              <th>Id</th>
              <th>Tên sản phẩm</th>
              <th>Giới hạn</th>
            </tr>
          </thead>
          <tbody>
            <%category.product_categories.forEach(proCate => {%>
            <tr>
              <td>
                <a
                  style="cursor: pointer"
                  onclick="showModalDetail(<%= proCate.product_id %>)"
                  ><%=proCate.product_id%></a
                >
              </td>
              <td>
                <a
                  style="cursor: pointer"
                  onclick="showModalDetail(<%= proCate.product_id %>)"
                  ><%=proCate.product.name%></a
                >
              </td>
              <td><%=proCate.limit_product%></td>
            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
    </div>
    <%}%>
    <div class="form-group form-actions" style="margin-bottom: 50px">
      <div class="col-md-12 text-center">
        <%if (typeof role === 'undefined'){%>
        <a href="/categories/edit/<%=category.id%>" class="btn btn-primary">
          <i class="fa fa-pencil"></i> Cập nhật
        </a>
        <button
          categoryId="<%=category.id%>"
          categoryName="<%=category.name%>"
          data-toggle="tooltip"
          title="Delete"
          class="btn btn-danger"
          onClick="showModalDialog(this)"
        >
          <i class="fa fa-recycle"></i> Xóa
        </button>
        <% }%> <%if (typeof role !== 'undefined'){%>
        <button class="btn btn-primary">
          <i class="fa fa-plus"></i> Thêm vào giỏ hàng
        </button>
        <% }%>
      </div>
    </div>
  </div>
  <!-- END All Products Block -->
  <!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Xác nhận xóa</h3>
        </div>
        <div class="modal-body">
          <h4>Bạn có chắc chắn muốn xóa gói sản phẩm với thông tin như sau:</h4>
          <h5>Mã: <b id="modal-categoryId"></b></h5>
          <h5>Tên: <b id="modal-categoryName"></b></h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">
            Hủy bỏ
          </button>
          <a id="delete-link" type="button" class="btn btn-danger">Xóa</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body"></div>
        <div class="modal-footer">
          <a id="productEdit" href="#" class="btn btn-primary">Cập nhật</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Load and execute javascript code used only in this page -->
  <script src="/js/category/category-list.js"></script>
  <script src="/js/category/category-form.js"></script>
  <script src="/js/category/category-view.js"></script>
</div>
