<div class="block">
    <div class="block-title">
        <h2><i class="fa fa-user-plus"></i> <strong>Người lây bệnh</strong> (<%= patient != null ? 1 : 0 %>)</h2>
    </div>
    <% if(patient != null) { %>
        <table id="detail-parent" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th>Tên</th>
                <th class="text-center">CMND</th>
                <th class="text-center">Trạng thái</th>
                <th class="hidden-xs text-center">Địa chỉ</th>
                <th class="hidden-xs text-center">Khu điều trị</th>
                <th class="hidden-xs text-center">Tiền nợ</th>
                <th class="hidden-xs text-center">Tiền cho phép</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><strong><%= 1 %></strong></td>
                <td><a href="/patients?id=<%= patient.id %>"><%= patient.name %></a></td>
                <td class="hidden-xs text-center"><strong><%= patient.identity %></strong></td>
                <% if(patient.status !== null){ %>
                    <td class="text-center hidden-xs"><strong>F<%= patient.status %></strong></td>
                <% } else { %>
                    <td class="text-center hidden-xs"><strong></strong></td>
                <% } %>
                <td class="hidden-xs text-center"><%= `${patient.ward?.name}, ${patient.district?.name}, ${patient.province?.name}` %></td>
                <td class="hidden-xs text-center"><%= patient.hospital?.name %></td>
                <td class="hidden-xs text-center"><%= patient.debt %></td>
                <td class="hidden-xs text-center"><%= patient.credit %></td>
            </tr>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> Không có người người lây bệnh.</h4>
        </div>
    <% } %>
</div>
