<div class="block">
    <div class="block-title">
        <h2><i class="fa fa-hospital-o"></i> <strong>Lịch sử chuyển khu điều trị/cách ly </strong>(<%= hospital_histories.length %>)</h2>
    </div>
    <% if(hospital_histories.length) { %>
        <table id="detail-hospital-history" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th class="text-center">Tên khu điều trị/cách ly</th>
                <th class="hidden-xs text-center">Ngày bắt đầu</th>
                <th class="hidden-xs text-center">Ngày kết thúc</th>
            </tr>
            </thead>
            <tbody>
            <% hospital_histories.forEach((hospital_history, index) => { %>
                <tr >
                    <td class="text-center"><%= index + 1%></td>
                    <td class="text-center"><%= hospital_history.hospital_name %></td>
                    <td class="hidden-xs text-center"><%= moment(hospital_history.import_time).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY, hh:mm:ss') %></td>
                    <td class="hidden-xs text-center"><%= hospital_history.export_time ? moment(hospital_history.export_time).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY, hh:mm:ss') : '' %></td>
                </tr>
            <%})%>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> Không có lịch sử chuyển khu điều trị/cách ly.</h4>
        </div>
    <% } %>
</div>
