<div class="block">
    <div class="block-title">
        <h2><i class="fa fa-users"></i> <strong>Những người liên quan</strong> (<%= patients.length %>)</h2>
    </div>
    <% if(patients.length) { %>
        <table id="detail-related" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th>Tên</th>
                <th class="hidden-xs text-center">CMND</th>
                <th class="hidden-xs text-center">Trạng thái</th>
                <th class="hidden-xs text-center">Địa chỉ</th>
                <th class="hidden-xs text-center">Khu điều trị</th>
                <th class="hidden-xs text-center">Tiền nợ</th>
                <th class="hidden-xs text-center">Tiền cho phép</th>
            </tr>
            </thead>
            <tbody>
            <% patients.forEach(function(patient, index) { %>
                <tr>
                    <td class="text-center"><strong><%= index + 1 %></strong></td>
                    <td><a href="/patients?id=<%= patient.id %>"><%= patient.name %></a></td>
                    <td class="hidden-xs text-center"><strong><%= patient.identity %></strong></td>

                <% if(patient.status !== null){ %>
                        <td class="hidden-xs text-center"><strong>F<%= patient.status %></strong></td>
                    <% } else { %>
                        <td class="hidden-xs text-center"><strong></strong></td>
                    <% } %>
                    <td class="hidden-xs text-center"><%= `${patient.ward?.name}, ${patient.district?.name}, ${patient.province?.name}` %></td>
                    <td class="hidden-xs text-center"><%= patient.hospital?.name %></td>
                    <td class="hidden-xs text-center"><%= patient.debt %></td>
                    <td class="hidden-xs text-center"><%= patient.credit %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> Không có người người liên quan nào.</h4>
        </div>
    <% } %>
</div>
