<div class="block">
    <div class="block-title">
        <h2><i class="fa fa-history"></i> <strong>Lịch sử chuyển trạng thái </strong>(<%= status_histories.length %>)</h2>
    </div>
    <% if(status_histories.length) { %>
        <table id="detail-status-history" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th class="text-center">Chuyển từ</th>
                <th class="text-center">Chuyển thành</th>
                <th class="hidden-xs text-center">Ngày chuyển</th>
            </tr>
            </thead>
            <tbody>
            <% status_histories.forEach(function(status_history, index) { %>
                <tr>
                    <td class="text-center"><strong><%= index + 1 %></strong></td>
                    <td class="text-center">F<%= status_history.source %></td>
                    <td class="text-center">F<%= status_history.destination %></td>
                    <td class="hidden-xs text-center"><%= moment(status_history.created_date).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY, hh:mm:ss') %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <div class="alert alert-info">
            <h4><i class="fa fa-info-circle"></i> Không có lịch sử chuyển trạng thái.</h4>
        </div>
    <% } %>
</div>
