<!-- Page content -->
<div id="page-content">
    <!-- Product Edit Content -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>Thông tin bệnh nhân</strong></h2>
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form method="post" class="form-horizontal form-bordered" id = "form-patient" >
                    <input  type="hidden" id="patient-id" name="id" class="form-control"value='<%= typeof patient !== 'undefined' ? patient.id:''%>' >
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-name">Tên(*)</label>
                        <div class="col-md-9">
                            <input  type="text" id="patient-name" name="name" class="form-control"
                                   placeholder="Nhập tên bệnh nhân" value='<%= typeof patient !== 'undefined' ? patient.name:""%>'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-identity">Nhập mã số định danh(CMND/căn cước công dân)(*)</label>
                        <div class="col-md-9">
                            <input  type="text" id="patient-identity" name="identity" class="form-control"
                                    placeholder="Nhập mã số định danh"  value='<%= typeof patient !== 'undefined' ? patient.identity:""%>'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-dob">Nhập ngày tháng năm sinh(*)</label>
                        <div class="col-md-9">
                            <input type='text'  name="dob" class="form-control" id='patient-dob' placeholder="Nhập ngày tháng năm sinh"
                                   value='<%= typeof patient !== 'undefined' ? patient.dob:""%>'/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-status">Trạng thái(*)</label>
                        <div class="col-md-9">
                            <select 
                                    id="patient-status"
                                    name="status"
                                    class="select-chosen"
                                    data-placeholder="Chọn Trạng thái"
                            >
                                <option value="">Chọn Trạng thái</option>
                                <% statuses.forEach(function(status) { %>
                                    <option value="<%= status.key %>"
                                            <%= typeof patient !== 'undefined' ? patient.status == status.key ? 'selected' : '' : '' %>>
                                        <%= status.value %>
                                    </option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-hospital">Khu điều trị/cách ly(*)</label>
                        <div class="col-md-9">
                            <select 
                                    id="patient-hospital"
                                    name="hospital_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Khu điều trị"
                            >
                                <option value="">Chọn Khu điều trị/cách ly</option>
                                <% hospitals.forEach(function(hospital) { %>
                                    <option value="<%= hospital.id %>"
                                            <%= typeof patient !== 'undefined' ? patient.hospital_id === hospital.id ? 'selected' : '' : '' %>
                                    >
                                        <%= hospital.name %>
                                    </option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-parent">Người lây/ Nguồn lây</label>
                        <div class="col-md-9">
                            <select
                                    id="patient-parent"
                                    name="parent_id"
                                    class="select-chosen"

                                    data-placeholder="Chọn Người lây/ Nguồn lây"
                            >
                                <option value="">Chọn Người lây/ Nguồn lây</option>

                                <% patients.forEach(function(patientItem) { %>
                                    <option value="<%= patientItem.id %>"
                                            <%= typeof patient !== 'undefined'  ? patientItem.id === patient.parent?.id ? 'selected' : '' : '' %>
                                    >
                                        <%= patientItem.name %>
                                    </option>
                                <%})%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-province">Tỉnh/TP(*)</label>
                        <div class="col-md-9">
                            <select 
                                    id="patient-province"
                                    name="province_id"
                                    class="select-chosen"
                                    id="select-province"
                                    data-placeholder="Chọn Tỉnh/TP"
                            >
                                <option value="">Chọn Tỉnh/TP</option>
                                <% provinces.forEach(function(province) { %>
                                    <option value="<%= province.id %>"
                                            <%= typeof patient !== 'undefined' ? patient.province_id === province.id ? 'selected' : '' : '' %>
                                    >
                                        <%= province.name %>
                                    </option>
                                <%})%>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-district">Quận/Huyện(*)</label>
                        <div class="col-md-9">
                            <select 
                                    id="patient-district"
                                    name="district_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Quận/Huyện"
                            >
                                <option value="">Chọn Quận/Huyện</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-ward">Phường/Xã(*)</label>
                        <div class="col-md-9">
                            <select 
                                    id="patient-ward"
                                    name="ward_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Phường/Xã"
                            >
                                <option value="">Chọn Phường/Xã</option>
                            </select>
                        </div>
                    </div>

                     <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-debt">Tiền nợ(*)</label>
                        <div class="col-md-9">
                            <input type="number" id="patient-debt" name="debt" class="form-control"
                                    placeholder="Nhập tiên nợ" value='<%= typeof patient !== 'undefined' ? patient.debt:""%>'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-credit">Tiền cho phép(*)</label>
                        <div class="col-md-9">
                            <input type="number" id="patient-credit" name="credit" class="form-control"
                                    placeholder="Nhập tiền cho phép" value='<%= typeof patient !== 'undefined' ? patient.credit:""%>'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="patient-payment-min">Số tiền chi trả nhơ nhất(*)</label>
                        <div class="col-md-9">
                            <input type="number" id="patient-payment-min" name="payment_min" class="form-control"
                                    placeholder="Nhập số tiền chi trả nhỏ nhất" value='<%= typeof patient !== 'undefined' ? patient.payment_min:""%>'>
                        </div>
                    </div>

                    <div class="form-group form-actions">
                        <div class="col-md-6 col-md-offset-6">
                            <%if(typeof patient === 'undefined') {%>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Tạo mới
                                </button>
                                <button type="reset" class="btn btn-warning"><i class="fa fa-repeat"></i> Xóa trắng
                                </button>
                            <%}else{%>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Cập nhật
                                </button>
                                <a href="/patients" class="btn btn-danger"><i class="fa fa-backward"></i> Quay lại</a>
                            <%}%>

                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->
        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
<script>
    const patient = JSON.parse('<%- typeof patient !== 'undefined' && JSON.stringify(patient) %>');
</script>
<script src="/js/patients/patient-form.js"></script>