<link rel="stylesheet" href="/css/products/product-form.css">
<!-- Page content -->
<div id="page-content">
    <!-- Product Edit Content -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>Thông tin sản phẩm</strong></h2>
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="product-name">Tên</label>
                        <div class="col-md-9">
                            <input type="text" id="product-name" name="name" class="form-control"
                                   value="<%= typeof product !== 'undefined' ? product.name : '' %>"
                                   required placeholder="Nhập tên sản phẩm">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="product-price">Giá tiền</label>
                        <div class="col-md-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                <input type="text" id="product-price" name="amount" class="form-control"
                                       value="<%= typeof product !== 'undefined' ? Number(product.amount) : '' %>"
                                       required placeholder="0,00">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="product-unit">Đơn vị định lượng</label>
                        <div class="col-md-9">
                            <input type="text" id="product-unit" name="unit" class="form-control"
                                   value="<%= typeof product !== 'undefined' ? product.unit : '' %>"
                                   required placeholder="Cái, Gói, Kg,...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="product-image">Hình ảnh</label>
                        <div class="col-md-9">
                            <div class="row equal m-2" id="product-images">
                                <% if (typeof product !== 'undefined' && product.images.length > 0) { %>
                                    <% for (let i = 0; i < product.images.length; i++) { %>
                                        <div class="col-sm-6 block extra-image">
                                            <button onclick="removeExtraImage(this)"
                                                    class="btn fa fa-times-circle fa-2x text-danger center"
                                                    title="Xóa ảnh này"></button>
                                            <img class="w-90"
                                                 src="/product-images/<%= product.images[i].path %>"
                                                 alt="<%= product.images[i].path %>"><br>
                                            <input accept="image/*" class="form-file m-2" name="images" type="file"/>
                                            <input type="hidden" name="imageIds" value="<%= product.images[i].id %>">
                                            <input type="hidden" name="imagePaths" value="<%= product.images[i].path %>">
                                        </div>
                                    <% } %>
                                <% } %>
                            <div class="col-sm-6 block extra-image">
                                <img alt="Xem trước hình ảnh" class="w-90"
                                     src="/img/image-thumbnail.png"><br>
                                <input accept="image/*" class="form-file m-2" name="images" type="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-6 col-md-offset-6">
                            <% if(typeof product !== "undefined") {%>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Cập nhật
                                </button>
                                <a href="/products" class="btn btn-danger"><i class="fa fa-times"></i> Hủy bỏ</a>
                            <% } else { %>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Tạo mới
                                </button>
                                <button type="reset" class="btn btn-warning"><i class="fa fa-repeat"></i> Xóa trắng
                                </button>
                            <% } %>
                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->
        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
<script src="/js/products/product-form.js"></script>