<!-- Page content -->
<div id="page-content">
    <!-- Quick Stats -->
    <div class="row text-center">
        <div class="col-sm-6">
            <a href="/products/create" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-success">
                    <h4 class="widget-content-light"><strong>Tạo mới</strong> sản phẩm</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i
                                class="fa fa-plus"></i></span></div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Tất cả</strong> sản phẩm</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen"><%= products.length %></span>
                </div>
            </a>
        </div>
    </div>
    <!-- END Quick Stats -->

    <!-- All Products Block -->
    <div class="block full">
        <!-- All Products Title -->
        <div class="block-title">
            <h2><strong>Tất cả</strong> sản phẩm</h2>
        </div>
        <!-- END All Products Title -->
        <%- include('../partials/messages') %>
        <!-- All Products Content -->
        <table id="ecom-products" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th>Tên</th>
                <th class="text-right hidden-xs">Giá</th>
                <th class="hidden-xs text-center">Đơn vị</th>
                <th class="text-center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <% products.forEach(function(product) { %>
            <tr>
                <td class="text-center"><strong><%= product.id %></strong></td>
                <td><a href="/products/view/<%= product.id %>" onclick="showModalDetail(<%= product.id %>)"><%= product.name %></a></td>
                <td class="text-right hidden-xs"><strong><%= product.amount %></strong></td>
                <td class="hidden-xs text-center"><%= product.unit %></td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs">
                        <button data-toggle="tooltip" onclick="showModalDetail(<%= product.id %>)" title="Xem chi tiêt"
                                class="btn btn-success"
                        >
                            <i class="fa fa-file"></i>
                        </button>
                        <a href="/products/edit/<%= product.id %>" data-toggle="tooltip"
                           title="Chỉnh sửa" class="btn btn-default"
                        >
                            <i class="fa fa-pencil"></i>
                        </a>
                        <button data-toggle="tooltip" onclick="showConfirmDelete(this)" title="Xóa"
                                class="btn-delete btn btn-xs btn-danger"
                        >
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <!-- END All Products Content -->
    </div>
    <!-- END All Products Block -->
</div>
<!-- END Page Content -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận xóa</h3>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa sản phẩm với thông tin như sau:</h4>
                <h5>Mã: <b id="productId"></b></h5>
                <h5>Tên: <b id="productName"></b></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                <a id="productDeleteLink" type="button" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/products/product-list.js"></script>