<!-- Simple Widgets with Extra Content Row -->
<div class="row">
    <div class="col-md-12">
        <!-- Active Theme Color Widget with Extra Content -->
        <div class="widget">
            <div class="widget-simple themed-background-dark">
                <h4 class="widget-content widget-content-light">
                    <h2 class="text-light">Tên: <strong><%= product.name %></strong></h2>
                </h4>
            </div>
            <div class="widget-extra themed-background">
                <div class="row text-center">
                    <div class="col-xs-6">
                        <h3 class="widget-content-light">
                            <strong>Giá</strong><br>
                            <small><%= product.amount %></small>
                        </h3>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="widget-content-light">
                            <strong>Đơn vị định lượng</strong><br>
                            <small><%= product.unit %></small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="widget-extra">
                <h3>Hình ảnh:</h3>
                <p class="text-center text-danger"><%= product.images.length === 0 ? 'Không có hình ảnh sản phẩm' : ''%></p>
            </div>
            <% if(product.images.length) { %>
                <div class="widget-extra-full themed-background-dark">
                    <!-- Carousel -->
                    <div id="widget-carousel1" class="carousel slide remove-margin">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <% product.images.forEach((image, index) => { %>
                                <div class="item <%= index === 0 && 'active'%>">
                                    <img src="/product-images/<%= image.path %>"
                                         alt="<%= image.path %>"
                                    />
                                </div>
                            <% })%>
                        </div>
                        <!-- END Wrapper for slides -->

                        <!-- Controls -->
                        <a class="left carousel-control" href="#widget-carousel1" data-slide="prev">
                            <span><i class="fa fa-chevron-left"></i></span>
                        </a>
                        <a class="right carousel-control" href="#widget-carousel1" data-slide="next">
                            <span><i class="fa fa-chevron-right"></i></span>
                        </a>
                        <!-- END Controls -->
                    </div>
                    <!-- END Carousel -->
                </div>
            <% } %>
        </div>
        <!-- END Active Theme Color Widget with Extra Content -->
    </div>
</div>
<!-- END Simple Widgets with Extra Content Row -->