<!-- Page content -->
<div id="page-content">
    <!-- Product Edit Content -->
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- General Data Block -->
            <div class="block">
                <!-- General Data Title -->
                <div class="block-title">
                    <h2><i class="fa fa-pencil"></i> <strong>Thông tin khu điều trị cách ly</strong></h2>
                </div>
                <!-- END General Data Title -->

                <!-- General Data Content -->
                <form id="hospital-form" method="post" class="form-horizontal form-bordered">
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="name">Tên</label>
                        <div class="col-md-9">
                            <input type="text" id="name" name="name" class="form-control"
                                   value="<%= typeof hospital !== 'undefined' ? hospital.name : '' %>"
                                   placeholder="Nhập tên khu điều trị cách ly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="size">Sức chứa</label>
                        <div class="col-md-9">
                            <input type="number" id="size" name="size" class="form-control"
                                   value="<%= typeof hospital !== 'undefined' ? hospital.size : '' %>"
                                   placeholder="Nhập sức chứa khu điều trị cách ly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="current_size">Số lượng hiên tại</label>
                        <div class="col-md-9">
                            <input type="number" id="current_size" name="current_size" class="form-control"
                                   value="<%= typeof hospital !== 'undefined' ? hospital.current_size : '0' %>"
                                   placeholder="Nhập số lượng hiện tại khu điều trị cách ly">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="province">Tỉnh/TP</label>
                        <div class="col-md-9">
                            <select
                                    id="province"
                                    name="province_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Tỉnh/TP"
                            >
                                <option value="">Chọn Tỉnh/TP</option>
                                <% provinces.forEach(function(province) { %>
                                    <option value="<%= province.id %>"
                                            <%= typeof hospital !== 'undefined' ? hospital.province_id === province.id ? 'selected' : '' : '' %>
                                    >
                                        <%= province.name %>
                                    </option>
                                <%})%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="district">Quận/Huyện</label>
                        <div class="col-md-9">
                            <select
                                    id="district"
                                    name="district_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Quận/Huyện"
                            >
                                <option value="">Chọn Quận/Huyện</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="ward">Phường/Xã</label>
                        <div class="col-md-9">
                            <select
                                    id="ward"
                                    name="ward_id"
                                    class="select-chosen"
                                    data-placeholder="Chọn Phường/Xã"
                            >
                                <option value="">Chọn Phường/Xã</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="address">Địa chỉ</label>
                        <div class="col-md-9">
                            <input type="text" id="address" name="address" class="form-control"
                                   value="<%= typeof hospital !== 'undefined' ? hospital.address : '' %>"
                                   placeholder="Nhập địa chỉ khu điều trị cách ly">
                        </div>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-md-6 col-md-offset-6">
                            <% if(typeof hospital !== "undefined") {%>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Cập nhật
                                </button>
                                <a href="/hospitals" class="btn btn-danger"><i class="fa fa-times"></i> Hủy bỏ</a>
                            <% } else { %>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Tạo mới
                                </button>
                                <button type="reset" class="btn btn-warning"><i class="fa fa-repeat"></i> Xóa trắng
                                </button>
                            <% } %>
                        </div>
                    </div>
                </form>
                <!-- END General Data Content -->
            </div>
            <!-- END General Data Block -->
        </div>
    </div>
    <!-- END Product Edit Content -->
</div>
<!-- END Page Content -->
<script>
    const hospital = JSON.parse('<%- typeof hospital !== 'undefined' && JSON.stringify(hospital) %>');
</script>
<script src="/js/hospitals/hospital-form.js"></script>