<!-- Page content -->
<div id="page-content">
    <!-- Quick Stats -->
    <div class="row text-center">
        <div class="col-sm-6">
            <a href="/hospitals/create" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-success">
                    <h4 class="widget-content-light"><strong>Tạo mới</strong> khu điều trị, cách ly</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i
                                class="fa fa-plus"></i></span></div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Tất cả</strong> khu điều trị, cách ly</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen"><%= hospitals.length %></span>
                </div>
            </a>
        </div>
    </div>
    <!-- END Quick Stats -->

    <!-- All Products Block -->
    <div class="block full">
        <!-- All Products Title -->
        <div class="block-title">
            <h2><strong>Tất cả</strong> khu điều trị, cách ly</h2>
        </div>
        <!-- END All Products Title -->
        <%- include('../partials/messages') %>
        <!-- All Products Content -->
        <table id="ecom-hospitals" class="table table-bordered table-striped table-vcenter">
            <thead>
            <tr>
                <th class="text-center" style="width: 70px;">Mã</th>
                <th>Tên</th>
                <th class="hidden-xs text-center">Số người hiện tại</th>
                <th class="hidden-xs text-center">Sức chứa</th>
                <th class="hidden-xs text-center">Địa chỉ</th>
                <th class="hidden-xs text-center">Xã/Phường</th>
                <th class="hidden-xs text-center">Quận/Huyện</th>
                <th class="hidden-xs text-center">Tỉnh/TP</th>
                <th class="text-center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <% hospitals.forEach(function(hospital) { %>
            <tr>
                <td class="text-center"><strong><%= hospital.id %></strong></td>
                <td><a href="/hospitals/edit/<%= hospital.id %>"><%= hospital.name %></a></td>
                <td class="hidden-xs text-center"><%= hospital.current_size %></td>
                <td class="hidden-xs text-center"><%= hospital.size %></td>
                <td class="hidden-xs text-center"><%= hospital.address %></td>
                <td class="hidden-xs text-center"><%= hospital.ward.name %></td>
                <td class="hidden-xs text-center"><%= hospital.district.name %></td>
                <td class="hidden-xs text-center"><%= hospital.province.name %></td>
                <td class="text-center">
                    <div class="btn-group btn-group-xs">
                        <a href="/hospitals/edit/<%= hospital.id %>" data-toggle="tooltip" title="Chỉnh sửa" class="btn btn-default"><i class="fa fa-pencil"></i></a>
                        <button data-toggle="tooltip" onclick="showConfirmDelete(this)" title="Xóa" class="btn-delete btn btn-xs btn-danger"><i class="fa fa-times"></i></button>
                    </div>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
        <!-- END All Products Content -->
    </div>
    <!-- END All Products Block -->
</div>
<!-- END Page Content -->
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Xác nhận xóa</h3>
            </div>
            <div class="modal-body">
                <h4>Bạn có chắc chắn muốn xóa khu điều trị, cách ly với thông tin như sau:</h4>
                <h5>Mã: <b id="hospitalId"></b></h5>
                <h5>Tên: <b id="hospitalName"></b></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy bỏ</button>
                <a id="hospitalDeleteLink" type="button" class="btn btn-danger">Xóa</a>
            </div>
        </div>
    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/hospitals/hospital-list.js"></script>