<!-- Page content -->
<div id="page-content">

    <!-- Customer Content -->
    <div class="row">
        <div class="col-lg-4">
            <!-- Customer Info Block -->
            <div class="block">
                <!-- Customer Info Title -->
                <div class="block-title">
                    <h2><i class="fa fa-file-o"></i> <strong>Thông tin</strong> khu điều trị, cách ly</h2>
                </div>
                <!-- END Customer Info Title -->

                <!-- Customer Info -->
                <div class="block-section text-center">
                    <h3>
                        <strong><%= hospital.name %></strong><br><small></small>
                    </h3>
                </div>
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Mã số</strong></td>
                        <td><%= hospital.id %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>SL hiện tại</strong></td>
                        <td><%= hospital.current_size %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Sức chứa</strong></td>
                        <td><%= hospital.size %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Địa chỉ</strong></td>
                        <td><%= hospital.address %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Xã/Phường</strong></td>
                        <td><%= hospital.ward.name %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Quận/Huyện</strong></td>
                        <td><%= hospital.district.name %></td>
                    </tr>
                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>Tỉnh/TP</strong></td>
                        <td><%= hospital.province.name %></td>
                    </tr>
                    </tbody>
                </table>
                <!-- END Customer Info -->
            </div>
            <!-- END Customer Info Block -->
        </div>
        <div class="col-lg-8">
            <!-- Orders Block -->
            <div class="block">
                <!-- Orders Title -->
                <div class="block-title">
                    <h2><i class="fa fa-user"></i> <strong>Danh sách bệnh nhân</strong> (<%= hospital.patients.length %>)</h2>
                </div>
                <!-- END Orders Title -->
                <% if(hospital.patients.length) { %>
                <!-- Orders Content -->
                <table id="ecom-patients" class="table table-bordered table-striped table-vcenter">
                    <thead>
                    <tr>
                        <th class="text-center" style="width: 70px;">Mã</th>
                        <th>Tên</th>
                        <th class="text-right hidden-xs">Trạng thái</th>
                        <th class="hidden-xs text-center">Tiền nợ</th>
                        <th class="hidden-xs text-center">Tiền cho phép</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% hospital.patients.forEach(function(patient) { %>
                        <tr>
                            <td class="text-center"><strong><%= patient.id %></strong></td>
                            <td><a href="/patients?id=<%= patient.id %>"><%= patient.name %></a></td>
                            <%if(patient.status !==null){%>
                                <td class="text-right hidden-xs"><strong >F<%= patient.status %></strong></td>
                            <%} else {%>
                                <td class="text-right hidden-xs"><strong ></strong></td>
                            <%}%>
                            <td class="hidden-xs text-center"><%= patient.debt %></td>
                            <td class="hidden-xs text-center"><%= patient.credit %></td>
                        </tr>
                    <% }); %>
                    </tbody>
                </table>
                <!-- END Orders Content -->
                <% } else {%>
                    <div class="alert alert-info">
                        <h4><i class="fa fa-info-circle"></i> Không có bệnh nhân nào.</h4>
                    </div>
                <% } %>
            </div>
            <!-- END Orders Block -->
        </div>
    </div>
    <!-- END Customer Content -->
    <div class="row">
        <div class="form-group form-actions">
            <div class="col-md-6 col-md-offset-6">
                <a href="/hospitals/edit/<%= hospital.id %>" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Cập nhật
                </a>
                <a href="/hospitals" class="btn btn-warning"><i class="fa fa-backward"></i>Quay lại
                </a>
            </div>
        </div>
    </div>
</div>
<!-- END Page Content -->
<!-- Load and execute javascript code used only in this page -->
<script src="/js/hospitals/hospital-view.js"></script>