<div id="page-content">
    <div class="row justify-content-center">
        <div class="col-sm-10 col-lg-offset-1">
            <div class="block">
                <div class="block-title">
                    <h2><i class="fa fa-user"></i> Thông tin <strong>bệnh nhân</strong></h2>
                </div>
                <div class="block-section text-center">
                    <h3>
                        <a href="/patients/edit/<%=patient.id%>">
                            <strong><%= patient.name %></strong><br><small></small>
                        </a>
                    </h3>
                </div>
                <table class="table table-borderless table-striped table-vcenter">
                    <tbody>

                    <tr>
                        <td class="text-right" style="width: 50%;"><strong>CMND/CCCD</strong></td>
                        <td><%= patient.identity %></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Ngày sinh</strong></td>
                        <td><%= moment(patient.dob).tz('Asia/Ho_Chi_Minh').format('DD-MM-YYYY') %></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Trạng thái</strong></td>
                        <% if(patient.status !== null){ %>
                            <td><strong>F<%= patient.status %></strong></td>
                        <% } else { %>
                            <td><strong></strong></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Tài khoản cho phép</strong></td>
                        <td><%= patient.credit %></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Khoản nợ</strong></td>
                        <td><%= patient.debt %></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Trả khoản nhỏ nhất</strong></td>
                        <td><%= patient.payment_min %></td>
                    </tr>
                    <tr>
                        <td class="text-right"><strong>Khu điều trị/cách ly</strong></td>
                        <td><%= patient.hospital.name %></td>
                    </tr>


                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<!-- Load and execute javascript code used only in this page -->
<script src="/js/patients/patient-detail.js"></script>